* {
    font-family: 'Exo 2', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    margin-right: 22px;
    color: cadetblue;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

.button-header {
    background-color: blue;
    font-size: 24px;
    line-height: 29px;
    width: 150px;
    border-radius: 20.5px;
    width: 128px;
    height: 47px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: aliceblue;
}

section {

    display: inline-block;
    margin-left: 86px;
}

h1 {
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
}

.button-main {
    background-color: greenyellow;
    border-radius: 20.5px;
    width: 239px;
    height: 64px;
    border: none;
    margin-top: 28px;
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

}

@media screen and (max-width: 900px ) {
    header {
        display: none;
    }

    p {
        display: none;
    }

    h1 {
        width: 253px;
        height: 53px;
        font-size: 62px;
        line-height: 50px;
        margin-left: -11px;
    }

    h2 {
        width: 282px;
    height: 46px;
    font-size: 45px;
    line-height: 50px;
    margin-left: -26px;
    }

    .fist-text {
        display: inline-block;
        margin-left: 82px;
        text-align: center;
    }

    .logo-image {
        width: 354px;
        height: 317px;
        margin-left: 15px;
        display: inline-block;
        margin-top: 203px;
    }
    .button-main{    background-color: greenyellow;
        border-radius: 20.5px;
        width: 239px;
        height: 64px;
        border: none;
        margin-top: 15px;
        cursor: pointer;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #000000;
        margin-left: -30px;}
}